language: php
sudo: false

php: 7.2

cache:
  directories:
  - /home/travis/build/RoySegall/payme/vendor

before_script:
  - composer install --dev

script:
  - ./vendor/bin/phpunit tests
  - ./vendor/bin/phpcs app --colors --standard=psr2