language: php
sudo: false

php: 7.2

cache:
  directories:
  - /home/travis/build/RoySegall/payme/vendor

services:
- mysql

before_script:
  - composer install --dev
  - mv .env.travis .env
  - mysql -u travis -e 'CREATE SCHEMA payme;'
  - php artisan migrate

script:
  - ./vendor/bin/phpunit tests
  - ./vendor/bin/phpcs app --colors --standard=psr2
  - ./vendor/bin/phpcs tests --colors --standard=psr2
